// Tokens
@import '../tokens/_variables'

// Components
@import '../components/_Card', '../components/_Header'

// Patterns
@import '../patterns/_main'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  padding: 50px 0 80px

  background-color: lighten($grayishBlue, 28)
  
  font-family: $font-primary

#root
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

@import '../tokens/_querys'